@font-face {
    font-family: 'Paybooc';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Paybooc';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Paybooc';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Paybooc';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/PayboocExtraBold.ttf') format("truetype");
    font-display: swap;
}